.footer-container{
	width: 100%;
	background: #159AB5;
}

.footer-text{
	color: #E3E1E0;
}

.mapa{
	margin-top: 6px;
	border-left: 1px solid rgba(#E3E1E0, .3);
}

#texto-footer{
	border-left: 1px solid rgba(#E3E1E0, .3);
}


